{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>csscombinators</title>
	<style>
		div>h1
		{
		  background-color: #388956;
		}
	</style>
</head>
<body>
	<div id="header">
		<h1>Header one
			<span>Header span</span>
		</h1>
		<h2>Header Two</h2>
		<h3>Header Three</h3>
	</div>
	<div id="main-section">
		<h1>Main Section one</h1>
		<h2>Main SectionTwo</h2>
	</div>
	<div id="Footer">
		<h1>Footer one
			<span>Footer Span</span>
		</h1>
		<h2>Footer Two</h2>
		<h3>Footer Three</h3>
	</div>
</body>
</html>