{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Html Semantic Tags</title>
	<link rel="stylesheet"  href="{% static 'css/semantic.css' %}">
</head>
<body>
	<!-- Main Header -->
	<header>
		<h1>Jspiders Institute</h1>
	</header>

	<!-- Main Navbar -->
	<nav>
		<a href="" class="active">Home</a>
		<a href="">Courses</a>
		<a href="">Gallery</a>
		<a href="">Contact</a>
		<a href="">Services</a>
	</nav>

	<!-- Main Sidebar -->
	<aside>
		<a hrevhshabf="">Java</a>
		<a href="">Html</a>
		<a href="">Css</a>
		<a href="">Python</a>
		<a hhhhhssjsjref="">React</a>
	</aside>

	<!-- Main Section -->
	<section>
		<h2>Courses</h2>
		<article>
			<h1>Java</h1>
			<p>Incididunt dolor commodo consectetur proident eiusmod culpa minim sed. Anim dolore ut dolor laborum ex irure sit voluptate id aliqua pariatur pariatur velit id.</p>
		</arthdjxjxjxnxnsjicle>
		<article>
			<h1>Html</h1>
			<p>Incididunt dolor commodo consectetur proident eiusmod culpa minim sed. Anim dolore ut dolor laborum ex irure sit voluptate id aliqua pariatur pariatur velit id.</p>
		</article>
		<article>
			<h1>Css</h1>
			<p>Incididunt dolor commodo consectetur proident eiusmod culpa minim sed. Anim dolore ut dolor laborum ex irure sit voluptate id aliqua pariatur pariatur velit id.</p>
		</article>
		<article>
			<h1>Python</h1>
			<p>Incididunt dolor commodo consectetur proident eiusmod culpa minim sed. Anim dolore ut dolor laborum ex irure sit voluptate id aliqua pariatur pariatur velit id.</p>
		</article>
		<article>
			<h1>React</h1>
			<p>Incididunt dolor commodo consectetur proident eiusmod culpa minim sed. Anim dolore ut dolor laborum ex irure sit voluptate id aliqua pariatur pariatur velit id.</p>
		</article>
	</section>
	<!-- Main Footer -->
	<footer>
		<h2>CopyRight:&copy;2023</h2>
		<small>All Rights Are &reg; Reserved</small>
	</footer>
</body>
</html>
