{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
</head>
<body>
	<div>
       <form>
    		<table border = "1px">
    		    <tr>
    				<td colspan = "2" align="center"><b>Registration Form</b></td>
    			</tr>
    		    <tr>
    				<td><label> Student Name</label></td>
    				<td><input type="text"></td>    					
    			</tr>
    			<tr>
    			    <td><label>Father's Name</label></td>
    				<td><input type="text"></td>    					
    			</tr>
    			<tr>
    				<td><label> Mother's Name</label></td>
    				<td><input type="text"></td>    					
    			</tr>
    			<tr>
    				<td><label> Date of Birth</label></td>
    				<td><input type="Date"></td>    					
    			</tr>
    			<tr>
    				<td><label> Gender</label></td>
    				<td><input type="radio" name = "rr">male<input type="radio" name = "rr">female</td>      			
                </tr>
    			<tr>
    				<td><label>Email ID</label></td>
    				<td><input type="text"></td>    					
    			</tr>
                <tr>
    				<td><label>Mobile No</label></td>
    				<td><input type="text"></td>    					
    			</tr>
    			<tr>
    				<td><label>Address</label></td>
    				<td><textarea rows = "4" cols= "21"></textarea> 
    			</tr>  					
    			<tr>
    				<td><label>State</label></td>
    				<td><input type="text"></td>    					
    			</tr>
    			<tr>
    				<td><label>City</label></td>
    				<td><input type="text"></td>    					
    			</tr>
    			<tr>
    				<td><label></label></td>
    				<td><input type="submit"></td>    					
    			</tr>
    	    </table>
       </form>
    </div>
</body>
</html>