{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>STUDENTS REGISTRATION FORM</title>
</head>
<body>
    <div>
     	<form style= "background-color: blueviolet ; color: white;">
     		<label>FIRST NAME</label>
     		<input type="text">(max 30 characters a-z and A-Z)</input><br><br>
     		<label>LAST NAME</label>
     		<input type="text">(max 30 characters a-z and A-Z)</input><br><br>
     		<label>DATE OF BIRTH</label>
     		<select>
     			<option>Day</option>
     		</select>
     		<select>
     			<option>Month</option>
     		</select>
     		<select>
     			<option>Year</option>
     		</select><br><br>
     		<label>EMAIL ID</label>
     		<input type="text"><br><br>
     		<label>MOBILE NUMBER</label>
     		<input type="text">(10 digit number)</input><br><br>
     		<label>GENDER<label>
     		<input type="radio" name="rr">Male</input>
     		<input type="radio" name="rr">Female</input><br><br>
     		<label>ADDRESS</label>
     		<textarea rows="4" cols="21"></textarea><br><br>
     		<label>CITY</label>
     		<input type="text">(max 30 characters a-z and A-Z)</input><br><br>
     		<label>PINCODE</label>
     		<input type="text">(6 digit number)</input><br><br>
     		<label>STATE</label>
     		<input type="text">(max 30 characters a-z and A-Z)</input><br><br>
     		<label>COUNTRY</label>
            <input type="text" placeholder="india"><br><br>
            <label>HOBBIES</label>
            <input type="checkbox" name=" ">Drawing</input>
            <input type="checkbox" name=" ">Singing</input>
            <input type="checkbox" name=" ">Dancing</input>
            <input type="checkbox" name=" ">Sketching</input>
            <input type="checkbox" name=" ">Others</input>
            <input type="text"><br><br>
    	</form>
    </div>
</body>
</html>